{% extends('base.html.twig') %}

{% block title %}  Search By Weather | AdeoWeb What To Wear Today &trade; - Coding Challenge by Amr Farouq {% endblock %}

{% block body %}
    <!-- Main -->
    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>AdeoWeb - What To Wear Today? &trade; | Search By Weather</h2>
            <h3><span><img src="{{ asset('init/images/logo.png') }}" alt="logo"/></span></h3>
        </header>

        <div class="container">
            <!-- Three -->
            <section id="content">
                <header class="major">
                    <h3>Please Click On The Weather To See Related Products</h3>
                    <ul id="myUL">

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'clear'}) }}">Clear</a></li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'isolated-clouds'}) }}">Isolated-Clouds</a>
                        </li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'scattered-clouds'}) }}">Scattered-Clouds</a>
                        </li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'overcast'}) }}">Overcast</a></li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'light-rain'}) }}">Light-Rain</a></li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'moderate-rain'}) }}">Moderate-Rain</a></li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'heavy-rain'}) }}">Heavy-Rain</a></li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'sleet'}) }}">Sleet</a></li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'light-snow'}) }}">Light-Snow</a></li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'moderate-snow'}) }}">Moderate-Snow</a></li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'heavy-snow'}) }}">Heavy-Snow</a></li>

                        <li><a href="{{ path('weatherTypeRoute', {'type': 'fog'}) }}">Fog</a></li>

                    </ul>
                </header>
            </section>
        </div>
    </section>




{% endblock %}