{% extends('base.html.twig') %}

{% block title %}  Search By Weather Results | AdeoWeb What To Wear Today &trade; - Coding Challenge by Amr Farouq {% endblock %}

{% block body %}
    <!-- Main -->
    <section id="main" class="wrapper style1">
        <header class="major">
            <h2>AdeoWeb - What To Wear Today? &trade; | Search By Weather Results</h2>
            <h3><span><img src="{{ asset('init/images/logo.png') }}" alt="logo" width="250px;"/></span></h3>
        </header>
    </section>



    <!-- Three -->
    <section id="one" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h3>Results By Custom Weather : {{ weatherType|capitalize }}</h3>
                <h4>{{ totalProducts }} Products Found</h4>
                <br>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td><b>Product Name</b></td>
                        <td><b>Body Part</b></td>
                        <td><b>Price</b></td>
                        <td><b>Image</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td id="tableCellCenter">{{ product.productName }}</td>
                            <td id="tableCellCenter">{{ product.bodyPart }}</td>
                            <td id="tableCellCenter">{{ product.price }} &euro;</td>
                            <td id="tableCellCenter"><img src="{{ asset(product.img) }}" alt="prodImage"/></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </header>
        </div>
    </section>







{% endblock %}